<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/global.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
       <div id="card">
            <div id="menu">
                <button>Criar Post</button>
            </div>

            <div id="posts">
                <div id="postCard">
                    <h1>Title</h1>
                    <span>Resumo</span>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi quam distinctio incidunt, consectetur commodi beatae accusantium repellendus, deserunt, quibusdam atque optio aliquid voluptate sint error nulla! Voluptatem nemo debitis nihil.</p>
                </div>

                <div id="postCard">
                    <h1>Title</h1>
                    <span>Resumo</span>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi quam distinctio incidunt, consectetur commodi beatae accusantium repellendus, deserunt, quibusdam atque optio aliquid voluptate sint error nulla! Voluptatem nemo debitis nihil.</p>
                </div>

                <div id="postCard">
                    <h1>Title</h1>
                    <span>Resumo</span>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicorem ipsum dolor sit amet consectetur, adipisorem ipsum dolor sit amet consectetur, adipisorem ipsum dolor sit amet consectetur, adipisorem ipsum dolor sit amet consectetur, adipising elit. Sequi quam distinctio incidunt, consectetur commodi beatae accusantium repellendus, deserunt, quibusdam atque optio aliquid voluptate sint error nulla! Voluptatem nemo debitis nihil.</p>
                </div>
               
            </div>
       </div>
    </div>
</body>
</html>