<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/icons8_happy_2.ico" type="image/x-icon">
    <style>
        #container{
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        h1{
            font-size: 20pt;
        }

        span{
            font-size: 30pt;
            font-weight: bold;
            color: #0EC9B9;
        }

        a{
            text-decoration: none;
            font-weight: bold;
            margin-top: 20px;
        }

    </style>
    <title>Mongodb Lab13 Ciência da Computação</title>
</head>
<body>
    <div id="container">
        <h1><span>Oba!</span><br>Este post foi criado com sucesso 🙂</h1>
        <a href="/">retornar para home</a>
    </div>
</body>
</html>